<div id="mySidebar" class="sidebar">
  <%= link_to "Home", root_path, class: "dropdown-item" %>
  <%= link_to "Profile", profile_index_path, class: "dropdown-item" %>
  <%= link_to 'Your Categories', categories_path, class: "dropdown-item" %>
  <%= link_to 'Add deck', new_deck_path,class: "dropdown-item" %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
</div>
