<div class="container">
  <div class="row">
    <div class="col-12 mt-4">
    <h1>Create card for <%= @deck.name %>:</h1>

    <%= simple_form_for [@deck, @card], url: deck_cards_path, method: :post do |f| %>
      <%= f.input :front %>
      <%= f.input :back %>
      <%= f.submit "add card", class: "btn btn-primary" %>
    <% end %>
    <%= link_to 'Back to deck', deck_path(@deck), class: "btn btn-secondary mt-4" %>
    </div>
  </div>
<% if params[:saved] == "true" %>
  <%= render 'shared/card_flashes' %>
<% end %>
</div>
