<div class="container">
  <div class="row">
    <div class="col-sm-6 mt-4">
      <h1><%= @deck.name %></h1>

      <p>You still need to master
        <strong><%= @count_card %></strong>
      cards in this deck</p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= @percentage %></div>
      </div>

      <p><%= @card.front %></p>
      <input type="text">

      <button id="flip" type="submit">flip card</button>

      <%= link_to 'I knew it!', deck_card_user_knows_path(@deck, @card), style: 'display:none', class: 'btn btn-primary', id: 'iknow', method: :post %>
      <%= link_to 'I didn\'t know!', deck_card_user_does_not_know_path(@deck, @card), style: 'display:none', class: 'btn btn-danger', id: 'idk', method: :post %>
    </div>
  </div>
</div>
