<div class="container" style="margin-top: 160px;">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-xl-8">
      <p style="color: #8F00FF;"><strong>You have studied
        <%= @current_card %>
      out of <%= @count_cards %> cards in this deck</strong></p>
      <div class="progress" style="background-color: rgba(143, 0, 255, 0.21);border-radius: 36px; width: 720px; height: 26px;">
        <div class="progress-bar" role="progressbar" style="width: <%= @percentage %>%; background-color: #8F00FF;border-radius: 36px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><strong><%= @percentage.round %>%</strong></div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-9 col-lg-7 col-xl-8">
      <div class="mt-4 maincontainer">
        <div class="thecard">
          <div class="card-body d-flex flex-column align-items-center thefront p-4" style="width: 720px; margin: 0 auto;" >
            <h4><%= @deck.name %></h4>
            <h5 class="card-title"><%= @card.front %></h5>
            <textarea name="Text1" id='answer' cols="40" rows="5" style="width:600px;" autofocus placeholder="Alt + p to flip the card"></textarea>
            <br>
            <button class="flip m-3" type="submit" accesskey="p">
              <p><strong>FLIP</strong></p>
            </button>
            <br>
          </div>
          <div class="card-body d-flex flex-column align-items-center theback p-4" style="width: 720px; margin: 0 auto;">
            <h4><%= @deck.name %></h4>
            <h5 class="card-title"><%= @card.front %></h5>
            <p class="card-text show mt-4"><%= @card.back %></p>
            <br>
            <div class="d-flex">
              <%= link_to 'I knew it!', deck_card_user_knows_path(deck: @deck, card_id: @card, wrong: params[:wrong]),style: 'font-weight: bold;', class: 'btn btn-primary show mx-3', accesskey:"k", method: :post %>
              <%= link_to 'I didn\'t know!', deck_card_user_does_not_know_path(deck: @deck, card_id: @card, wrong: params[:wrong]),style: 'font-weight: bold;', class: 'btn btn-danger show mx-3',accesskey: "o", method: :post %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="user-actions">
      <% if @deck.user == current_user %>
        <%= link_to edit_deck_card_path(@deck, @card) do %>
          <i class="fas fa-edit fa"></i>
        <% end %>
        <%= link_to deck_card_path(@deck, @card), method: :delete, data: {confirm: 'Delete the card?'} do %>
          <i class="fas fa-trash fa"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
