<div class="container">
  <div class="row">
    <div class="col-sm-12 mt-5 deck-index">

      <h1>Look for the best flashy cards</h1>

      <%= render 'search' %>

      <div class="d-flex justify-content-around flex-wrap">
        <% @decks.each do |deck| %>

          <%= link_to deck_path(deck), class: "deck-link bd-highlight" do %>
            <div class="card mb-4 deck-card" style="background-image: url(<%= url_for(deck.category.photo_url) %>)">
              <div class="deck-bg">
                <div class="card-body deck-body">

                  <div class="deck-title bd-highlight">
                    <h3 class="card-title m-0"><%= deck.name %></h3>
                  </div>

                  <div class="reviews d-flex justify-content-center" style="position: relative; right: 30px; top: 4px; margin-left: 60px;">
                    <div class="upvote deck-upvote">
                      <span ><i class="fas fa-sort-up"></i></span>
                      <p><%= deck.upvotes %></p>
                    </div>

                    <div class="downvote deck-upvote">
                      <span ><i class="fas fa-sort-down"></i></span>
                      <p> <%= deck.downvotes %></p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


