<div class="deck-banner-index" style="background: linear-gradient(-226deg, rgba(43, 43, 43, 0.49) 31%, rgba(143, 0, 255, 0.38) 62%, rgba(255, 255, 255, 0.934611) 10028%), url('https://res.cloudinary.com/cloudhabits/image/upload/v1585272794/aaron-burden-QJDzYT_K8Xg-unsplash_dnv4uz.jpg')">
  <div class="container">
    <div class="row" style="padding: 0px 32px 0px 32px;">
      <div class="col-sm-12 mt-5 deck-index">
        <h1>Look for the best flashy cards</h1>
        <%= render 'search' %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 mt-5 deck-index">


      <div class="d-flex justify-content-around flex-wrap">
        <% @decks.each do |deck| %>

          <%= link_to deck_path(deck), class: "deck-link bd-highlight" do %>
            <div class="card mb-4 deck-card" style="background-image: url(<%= url_for(deck.category.photo_url) %>)">
              <div class="deck-bg">
                <div class="card-body deck-body">

                  <div class="deck-title">
                    <p class="card-title m-0"><%= deck.category.name %></p>
                  </div>

                  <div class="deck-title bd-highlight">
                    <h3 class="card-title m-0"><%= deck.name %></h3>
                  </div>

                </div>
              </div>

              <div class="reviews">
                <div class="upvote deck-upvote">
                  <%= image_tag "arrow_upvote.svg", alt: "alttext", style: "font-color: green;" %>
                  <p><%= deck.upvotes %></p>
                </div>

                <div class="downvote deck-upvote">
                  <%= image_tag "arrow_downvote.svg", alt: "alttext", style: "font-color: red;" %>
                  <p> <%= deck.downvotes %></p>
                </div>
              </div>

            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


