<div class="container">
  <div class="row">
    <div class="col-sm-12 mt-5 deck-index">

      <h1>Look for the best flashy cards</h1>

      <%= render 'search' %>

      <div class="d-flex justify-content-between flex-wrap">
        <% @decks.each do |deck| %>
          <div class="card mb-4 deck-card" style="width: 18rem;">
            <div class="card-body col-8">
              <h2 class="card-title"><%= deck.name %></h2>
              <%= link_to "Lets Play", deck_path(deck), class: "card-link" %>
              <div class="reviews d-flex justify-content-sm-around" style="position: relative; right: 30px; top: 20px;">
                <div class="upvote">
                  <span ><i class="fas fa-sort-up"></i></span>
                  <p><%= deck.review_total %></p>
                </div>
                <div class="downvote">
                  <span ><i class="fas fa-sort-down"></i></span>
                  <p> <%= deck.downvotes %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>


