<div class="container content">
  <div class="row">
    <div class="col-12 mt-4">


      <h1><%= @deck.name %></h1>
      <p>Category: <strong><%= @deck.category.name.capitalize %></strong></p>
      <p>Number of cards in the deck: <%= @deck.cards.count %></p>
      <p><%= @deck.description %></p>

      </br>
      <%= link_to 'Play', deck_card_path(@deck, @deck.cards.first.id), class: 'btn btn-primary btn-lg' %>

      <p class="mt-4">Flashcards made by <%= @deck.user.email %></p>

      <h2>Reviews (<%= @reviews.where.not(content: nil).count %>)</h2>
      <% @reviews.each do |review| %>
        <% if review.review_value == 1 %>
          <p><%= review.content %></p>
        <% else %>
          <p><%= review.content %></p>
        <% end %>
      <% end -%>
    </div>
  </div>
</div>


