<div class="container content">
  <div class="row">
    <div class="col-sm-12 mt-4">


      <div class="card mt-4">
        <div class="card-body">
          <h1><%= @deck.name %></h1>
          <p>Category: <strong><%= @deck.category.name.capitalize %></strong></p>
          <p>Number of cards in the deck: <%= @deck.cards.count %></p>
          <p><%= @deck.description %></p>

          </br>
          <%= link_to 'Play', deck_card_path(@deck, @deck.cards.first.id), class: 'btn btn-primary' %>

          <p class="mt-4">Flashcards made by <%= @deck.user.email %></p>
        </div>
      </div>

    </div>
  </div>
</div>


