<div class="deck-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @deck.category.photo_url %>);">
</div>
<div class="container">
  <div class="row">
    <div class="col-12 mt-4">
      <h1><%= @deck.name %></h1>
      <p>Category: <strong><%= @deck.category.name.capitalize %></strong></p>
      <p>Number of cards in the deck: <%= @deck.cards.count %></p>
      <p><%= @deck.description %></p>

      </br>

      <%= link_to 'Play', deck_start_playing_path(@deck), class: 'btn btn-primary' %>
      <% if @deck.user == current_user %>
        <%= link_to 'Add card', new_deck_card_path(@deck), class: 'btn btn-secondary' %>
      <% end %>
      <% if @deck.card_answers.where(user: current_user).any? %>
        <%= link_to 'See results', deck_results_path(@deck), class: 'btn btn-secondary' %>
      <% end %>

      <div class="edit-buttons mt-4">
        <% if @deck.user == current_user %>
          <%= link_to edit_deck_path(@deck) do %>
            <i class="fas fa-edit fa"></i>
          <% end %>
          <%= link_to deck_path(@deck), method: :delete, data: {confirm: 'Delete the deck?'} do %>
            <i class="fas fa-trash fa"></i>
          <% end %>
        <% end %>

      </div>

      <p class="mt-4">Flashcards made by <%= @deck.user.username %></p>

      <h2 class="mb-4">Reviews (<%= @reviews.where.not(content: nil).count %>)</h2>
      <% @reviews.each do |review| %>
          <div class="comment d-flex">
            <% if review.content != "" %>
            <div>
              <% if review.user.username %>
                <h6 class="avatar" style="background-color:<%= @colors[rand(0..19)] %>"><%= review.user.username.upcase.chars[0] %></h6>
              <% else %>
                <h6 class="avatar" style="background-color:<%= @colors[rand(0..19)] %>"><%= review.user.email.upcase.chars[0] %></h6>
              <% end %>
            </div>
            <div>
              <% if review.user.username %>
                <h6><strong><%= review.user.username %></strong></h6>
              <% else %>
                <h6><strong><%= review.user.email %></strong></h6>
              <% end %>
              <p>
                "<%= review.content %>"
                <% if review.review_value == 1 %>
                  <i class="far fa-thumbs-up"></i>
                <% else %>
                  <i class="far fa-thumbs-down"></i>
                <% end %>
              </p>
            </div>
            <% end %>
          </div>
      <% end -%>
    </div>
  </div>
</div>


